/* -------------------------------------------
[ About top-TRUNK.scss ]
	- Author : Sota Yamashita
	- Version : 0.1;
	- Last Updated : Saturday, July 27, 2013
	- Description : rgb(45, 45, 45);
------------------------------------------- */

// @import File
@import "core";

.specialContainer {
	width: 1200px;
	margin: 20px auto;
}

/* ----------------------------------------- *\
	$container
\* ----------------------------------------- */
#container {
	position: relative;
	padding: 0;
	min-height: 600px;
	.item {
		width: 200px;
		height:180px;
		border-radius: 2px;
		background: rgb(45,45,45);
		margin: 5px;
		.userPic {
			position: relative;
			width: 200px;
			height: 150px;
			a.link {
				display: block;
				width: 200px;
				height: 150px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 4000;
				&:hover {background: rgba(45, 45, 45, 0.5);}
			}
		}
		.userInfo {
			position: relative;
			h3 {
				font-size: 15px;
				margin-top: 5px;
				padding-left: 10px;
				color: white;
			}
		}
	}
}