/* -------------------------------------------
[ About top-TRUNK.scss ]
	- Author : Sota Yamashita
	- Version : 0.1;
	- Last Updated : Saturday, July 27, 2013
	- Description : rgb(45, 45, 45);
------------------------------------------- */

// @import File
@import "core";

/* ----------------------------------------- *\
	$container
\* ----------------------------------------- */
#container {
	position: relative;
	padding: 0;
	.item {
		display: block;
		width: 223px;
		height: 223px;
		margin:5px;
		float: left;
		position: relative;
		.userPic {
			width: 223px;
			height: 190px;
			background: white;
			border-radius: 2px; 
			display: block;
			a {
				display: block;
				padding-bottom: 5px;
				img {
					width: 191px;
					height: 167px;
					margin: 13px 0 0 15px;
				}
			}
		}
		.userInfo {
			h3 {
				position: relative;
				top: -12px;
				font-size: 15px;
			}
		}
	}

}