// -------------------------------------------
//[ About _utility.scss ]
//	- Author : Sota Yamashita
//	- Version : 0.1;
//	- Last Updated : Saturday, July 27, 2013
//	- Description : 
// ------------------------------------------- 


/* ---------------------------------------- *\
	$Twitter tweet Button 
\* ---------------------------------------- */
#custom-tweet-button a {
	display: block;
	padding-left: 25px !important;
	background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
}